body{
    background-image: url("https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    font-family: comic sans MS;
}

.container{
    /* border: 5px solid black; */
    width: 50vw;
    padding: 20px;
    margin: 15px auto;
    background-color: transparent;
}

h1{
    color: yellow;
    margin-top: 1px;
    text-align: center;
    font-size: 2rem;
}

form{
    text-align: center;
}

input, button{
    font-size: 1.4rem;
}